In [67]:
PATH = './'
import pandas as pd
import numpy as np
n_categories = 400

In [68]:
train_df = pd.read_csv('./train.csv')
train_df_by_cat = train_df.groupby(['Id'], as_index=False).count()
train_df_by_cat.columns = ['Id', 'Count']

In [69]:
train_df_more_than_two = train_df_by_cat[train_df_by_cat.Count > 1]
print(train_df_more_than_two.shape)
train_df_more_than_two.head(5)

(2932, 2)

          Id  Count
0  new_whale   9664
3  w_0027efa     10
4  w_00289b1      2
7  w_003bae6      8
8  w_00656c0      2

In [66]:
categories = train_df_more_than_two.sample(n_categories).Id.values.tolist()
if not 'new_whale' in categories:
    categories.append('new_whale')
print(len(categories))

401

In [72]:
data_train = 'Image,Id\n'
data_test = 'Image,Id\n'
l = 0
for cat in categories:
    temp_df = train_df[train_df.Id == cat]
    sample_count = np.random.randint(2,temp_df.shape[0]+1)
    if cat == 'new_whale':
        sample_count = 5*n_categories
    imgs = temp_df.sample(sample_count).Image.values.tolist()
    l += len(imgs)
    test_count = 1
    if cat == 'new_whale':
        test_count = n_categories
    
    i = 0
    for img in imgs:
        if i < test_count:
            data_test += img + ',' + cat + '\n'
        else:
            data_train += img + ',' + cat + '\n'
            
        i += 1
len(data.split('\n'))

3309

In [73]:
with open('./train_small.csv','w') as f:
    f.write(data_train)
with open('./test_small.csv','w') as f:
    f.write(data_test)

In [76]:
df_train = pd.read_csv('./train_small.csv')
df_test = pd.read_csv('./test_small.csv')

In [78]:
df_test.shape

(800, 2)